@import '../../../styles/mixins';

.modalContainer {
  @include flex(column, space-between, normal);
  position: relative;
  padding: 20px;
  width: 80%;
  height: calc(100% - 40px);
}

.title {
  margin-bottom: 10px;
}

.content {
  color: var(--main-text);
}

.messagesField {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 20px 0;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid var(--border-input);
}

.messageContainer {
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-column-gap: 10px;
  align-items: self-end;

  & button {
    margin-bottom: 4px;
  }
}
